#archiveMessage {
    width: 990px;
    height: 50px;
    margin-left: 10px;
    font-size: 40px;
}

#archContent {
    width: 990px;
    height: 730px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #888888;
}

.archLocationSection {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
#archLocation {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    font-size: 30px;
    float: left;
}
.archLocationSection p {
    margin: 0;
}

#archDateRange {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    color: #303345;
    float: left;
}
.graphGroup {
    width: 680px;
    float: left;
}
.archGraph {
    width: 100%;
    height: 280px;
    margin-left: 10px;
    float: left;
}

#archDetails {
    width: 270px;
    height: 335px;
    float:left;
}

.archDetailsTitle {
    width: 250px;
    height: 40px;
    font-size: 25px;
}

#archSettings {
    width: 230px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

#yearInput {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border-color: #707c86;
    font-size: 15px;
    float:left;
}

#calendarWeekInput {
    width: 102px;
    height: 25px;
    margin-left: 5px;
    border-radius: 5px;
    border-color: #707c86;
    font-size: 15px;
    float:left;
}

#archSettingsButton {
    width: 29px;
    height: 29px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #707c86;
    align-content: center;
    text-align: center;
    float: left;
}

#archSettingsButton:hover {
    background-color: #e4750e;
}

#archDescription {
    width: 230px;
    height: 225px;
    margin-left: 20px;
    margin-top: 10px;
}

#archDetailsContent {
    color: #303345;
}