#archSearchBar {
    width: 500px;
    height: 120px;
    margin-left: 10px;
}

#archiveMessage {
    width: 1010px;
    height: 65px;
    margin-left: 10px;
    font-size: 50px;
}

#calendar {
    width: 1000px;
    height: 200px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #888888;
}

.calendarNavigationButton {
    width: 40px;
    height: 200px;
    border-radius: 20px;
    float: left;
    align-content: center;
}

.calendarNavigationButton:hover {
    background-color: #e4750e;
}

#calendarContent {
    width: 920px;
    height: 200px;
    float: left;
}

#archWeather {
    width: 300px;
    height: 205px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #888888;
    float:left;
}

#archLocation {
    width: 280px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

#archDate {
    width: 280px;
    height: 20px;
    margin-left: 20px;
    color: #303345;
}

#archWeatherIcon {
    width: 140px;
    height: 130px;
    margin-left: 20px;
    float: left;
}

#temperature {
    width: 120px;
    height: 40px;
    margin-left: 20px;
    color: #303345;
    font-size: 35px;
}

#archWeatherName {
    width: 120px;
    height: 94px;
    margin-left: 20px;
    color: #303345;
}

#description {
    width: 690px;
    height: 205px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #888888;
    float: left;
}

#descriptionTitle {
    width: 650px;
    height: 50px;
    margin-left: 20px;
    font-size: 30px;
}

#descriptionContent {
    width: 650px;
    height: 135px;
    margin-left: 20px;
    color: #303345;
    font-size: 20px;
}